<mat-card class="card">
  <mat-card-header class="card__header">
    <h2 class="card__header-title">My Invoices</h2>
  </mat-card-header>

  <mat-card-content class="card__content">
    <mat-progress-bar
      *ngIf="loading"
      mode="indeterminate"
      style="margin-top: 10px; margin-bottom: 10px;"
    ></mat-progress-bar>
    <div *ngIf="invoiceList">
      <mat-error *ngIf="invoiceList.length === 0">No invoices found. Please submit a service order</mat-error>
    </div>

    <mat-accordion displayMode="flat" multi class="mat-table">
      <mat-expansion-panel class="expansion-panel" *ngFor="let invoice of displayedRows$ | async">
        <mat-expansion-panel-header class="mat-row">
          <span class="mat-cell">{{ invoice.orderDate | date: 'medium' }}</span>
          <span class="mat-cell">{{ invoice.total | currency }}</span>
        </mat-expansion-panel-header>
        <div>
          <table class="info">
            <tr>
              <th><span>Invoice</span></th>
              <td>
                <span>{{ invoice._id }}</span>
              </td>
            </tr>
            <tr>
              <th><span>Date</span></th>
              <td>
                <span>{{ invoice.orderDate | date: 'medium' }}</span>
              </td>
            </tr>
            <tr>
              <th><span>Amount Due</span></th>
              <td>{{ invoice.total | currency }}</td>
            </tr>
          </table>
          <h4>Services Requested</h4>
          <table class="items">
            <thead>
              <tr>
                <th><span>Item</span></th>
                <th><span>Price</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lineItem of invoice.lineItems">
                <td>
                  {{ lineItem.title }}
                </td>
                <td>
                  {{ lineItem.price | currency }}
                </td>
              </tr>
            </tbody>
          </table>
          <h4>Labor & Parts</h4>
          <table class="laborandparts">
            <tr>
              <th>{{ invoice.laborAmount / 50 }} Hours Requested @ {{ 50 | currency }} per hour</th>
              <td>
                <b>{{ invoice.laborAmount | currency }}</b>
              </td>
            </tr>
            <tr>
              <th><span>Additional Parts Cost</span></th>
              <td>{{ invoice.partsAmount | currency }}</td>
            </tr>
          </table>
          <h4>Balance</h4>
          <table class="balance">
            <tr>
              <th><span>Total</span></th>
              <td>{{ invoice.total | currency }}</td>
            </tr>
            <tr>
              <th><span>Amount Paid</span></th>
              <td>{{ 0 | currency }}</td>
            </tr>
            <tr>
              <th><span>Balance Due</span></th>
              <td>{{ invoice.total | currency }}</td>
            </tr>
          </table>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
