.hiddenRow {
  padding: 0 !important;
  &:before {
    display: none;
  }
  table {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  /* Taken from elvery.net/demo/responsive-tables */

  /* Force table to not be like tables anymore */
  #no-more-tables > table,
  #no-more-tables > table > thead,
  #no-more-tables > table > tbody,
  #no-more-tables > table > thead > tr > th,
  #no-more-tables > table > tbody > tr > td,
  #no-more-tables > table > tbody > tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables > table > thead > tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables > table > tbody > tr {
    border: 1px solid #ccc;
  }

  #no-more-tables > table > tbody > tr > td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 36.1%;
    white-space: normal;
    text-align: left;
  }

  #no-more-tables > table > tbody > tr > td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 0;
    width: 33.33333333%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    background-color: #f5f5f5;
    padding: 8px;
  }

  /*
	Label the data
	*/
  #no-more-tables td:before {
    content: attr(data-title);
  }

  .table-nested,
  .table-nested tbody,
  .table-nested td,
  .table-nested tr,
  .table-nested th,
  .table-nested tr > td {
    width: 100%;
    display: block;
  }
}
