<div class="wrapper">
  <div class="section">
    <div class="container">
      <div class="space-90"></div>
      <div class="cd-section">
        <div id="tables">
          <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
              <div class="card card-plain bg-default">
                <div class="card-header">
                  <h1 class="card-title text-center text-primary">
                    My Invoices
                  </h1>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table tablesorter">
                        <thead>
                          <tr>
                            <th class="text-left"><h4 class="text-danger">Username</h4></th>
                            <th class="text-left"><h4 class="text-danger">Invoice Date</h4></th>
                            <th class="text-left"><h4 class="text-danger">Parts Total</h4></th>
                            <th class="text-left"><h4 class="text-danger">Line Item Total</h4></th>
                            <th class="text-left"><h4 class="text-danger">Labor Total</h4></th>
                            <th class="text-center"><h4 class="text-danger">Total</h4></th>
                            <th class="text-right"><h4 class="text-danger">View</h4></th>
                            <th class="text-right" *ngIf="role === 'customer'"><h4 class="text-success">Pay</h4></th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let invoice of invoiceList">
                          <tr *ngIf="invoice.username === this.username">
                            <td class="text-left">{{ invoice.username }}</td>
                            <td class="text-left">{{ invoice.orderDate | date: 'medium' }}</td>
                            <td class="text-left">{{ invoice.partsAmount | currency }}</td>
                            <td class="text-left">{{ invoice.lineItemTotal | currency }}</td>
                            <td class="text-left">{{ invoice.laborAmount | currency }}</td>
                            <td class="text-center">{{ invoice.total | currency }}</td>
                            <td class="text-right">
                              <button
                                class="btn btn-primary btn-simple btn-icon btn-sm mr-1"
                                type="button"
                                placement="bottom"
                                tooltip="View Invoice"
                                [routerLink]="['/invoice-view', invoice._id]"
                              >
                                <i class="fas fa-eye"></i>
                              </button>
                            </td>
                            <td *ngIf="role === 'customer'" class="text-right">
                              <button
                                class="btn btn-success btn-simple btn-icon btn-sm"
                                type="button"
                                placement="top"
                                tooltip="Pay Invoice"
                                [routerLink]="['/invoice-pay', invoice._id]"
                              >
                                <i class="tim-icons icon-credit-card"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
