<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
      <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <a routerLink="/" class="navbar-brand">BCRS</a>
    </div>
    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="nav navbar-nav">
        <li><a routerLink="/about">About</a></li>
        <li *ngIf="!loggedInUser"><a routerLink="/login">Login</a></li>
        <li *ngIf="loggedInUser"><a routerLink="/" (click)="onLogout()">Logout</a></li>
      </ul>
      <ul *ngIf="loggedInUser" class="nav navbar-nav navbar-right">
        <li class="logged-in-header" *ngIf="loggedInUser">Welcome: {{loggedInUser}}</li>
        <!--Drop down menu start-->
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Admin<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/admin/users" style="cursor: pointer;">Users</a></li>
            <li><a routerLink="/admin/security" style="cursor: pointer;">Security</a></li>
          </ul>
        </li>
         <!--Drop down menu end-->
      </ul>
    </div>
  </div>
</nav>
