<div class="wrapper">
  <div class="section payment-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h2 class="title">Invoice Summary</h2>
          <div class="card">
            <div class="card-body">
              <div class="media align-items-center mb-3">
                <div class="col-md-5">
                  <h3 class="text-primary">Invoice #</h3>
                </div>
                <div class="media-body">
                  <div class="media-body text-right">
                    <span>{{ invoice._id }}</span>
                  </div>
                </div>
              </div>
              <div class="media align-items-center mb-3">
                <div class="col-md-5">
                  <h3 class="text-primary">Invoice Date</h3>
                </div>
                <div class="media-body">
                  <div class="media-body text-right">
                    <span>{{ invoice.orderDate | date: 'MMM dd, yyyy' }}</span>
                  </div>
                </div>
              </div>
              <div class="media align-items-center mb-3">
                <div class="col-md-5">
                  <h3 class="text-primary">Parts Total</h3>
                </div>
                <div class="media-body">
                  <div class="media-body text-right">
                    <span>{{ invoice.partsAmount | currency }}</span>
                  </div>
                </div>
              </div>
              <div class="media align-items-center mb-3">
                <div class="col-md-5">
                  <h3 class="text-primary">Labor Total</h3>
                </div>
                <div class="media-body">
                  <div class="media-body text-right">
                    <span>{{ invoice.laborAmount | currency }}</span>
                  </div>
                </div>
              </div>
              <div class="media align-items-center mb-3">
                <div class="col-md-5">
                  <h3 class="text-primary">Line Item Total</h3>
                </div>
                <div class="media-body">
                  <div class="media-body text-right">
                    <span>{{ invoice.lineItemTotal | currency }}</span>
                  </div>
                </div>
              </div>
              <hr class="line-info mb-3" />
              <div class="media align-items-center">
                <h3 class="h6">Total</h3>
                <div class="media-body text-right">
                  <span class="font-weight-semi-bold">{{ invoice.total | currency }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <form class="js-validate">
            <div class="container">
              <h3 class="title">Billing Address</h3>
              <div class="row">
                <div class="col-md-6">
                  <label for="firstName" class="labels"> First Name <span class="text-danger"> * </span> </label>
                  <input class="form-control" name="firstName" type="text" value="{{ user.firstName }}" />
                </div>
                <div class="col-md-6">
                  <label for="lastName" class="labels"> Last Name <span class="text-danger"> * </span> </label>
                  <input class="form-control" name="lastName" type="text" value="{{ user.lastName }}" />
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-6">
                  <div class="js-form-message mb-6">
                    <label for="email" class="labels"> Email Address <span class="text-danger"> * </span> </label>
                    <input class="form-control" name="email" type="email" value="{{ user.email }}" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="js-form-message mb-6">
                    <label for="phoneNumber" class="labels">
                      Phone Number
                    </label>
                    <input class="form-control" name="phoneNumber" type="tel" value="{{ user.phoneNumber }}" />
                  </div>
                </div>
              </div>
              <br />
              <div class="row mb-3">
                <div class="col-md-3">
                  <div class="js-form-message mb-6">
                    <label for="street" class="labels">Street Address</label>
                    <input class="form-control" name="street" type="text" value="{{ user.street }}" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="js-form-message mb-6">
                    <label for="city" class="labels">City</label>
                    <input class="form-control" name="city" type="text" value="{{ user.city }}" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="js-form-message mb-6">
                    <label for="state" class="labels">State</label>
                    <input class="form-control" name="state" type="text" value="{{ user.state }}" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="js-form-message mb-6">
                    <label for="zipCode" class="labels">Zip Code</label>
                    <input class="form-control" name="zipCode" type="text" value="{{ user.zipCode }}" />
                  </div>
                </div>
              </div>
              <h4 class="title">
                Payment Method
              </h4>
              <hr class="line-primary" />
              <div class="row">
                <div class="col-md-12">
                  <button (click)="checkOut()" class="btn btn-lg btn-info">
                    Pay Invoice
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
