<mat-card class="history-container">
  <div class="paragraph-container"></div>
  <mat-card-header>
    <mat-card-title>
      <h1>Bob's Computer Repair Shop: A Brief History</h1>
    </mat-card-title>
    <br><br />
  </mat-card-header>
  <mat-card-content>
    <h3>
      <p>
        Bob's Computer Repair Shop was founded in 1997. He started off with simple PC home repair as side hobby. In
        2002, after 5 years in service, Bob decided to expand his hobby and start his own business.
        He started off in what was an old laundry mat. He gutted the insides and renovated. His priority was to make
        a place where people would feel comfortable dropping off their PCs and Mac to be serviced. Initially, he
        did simple repairs, memory expansion, and operating system installs. As technology progressed, so did he. He
        leared all he could about hardware and software repair as well as malware and anti-virus protection. As Bob
        got
        more and more popular, he realized his workforce had to grow. He hired on four extra people to help with
        computer repairs, while handled the front desk. The various talents of his staff has allowed him to expand
        his services
        even more. Bob now offers Password Reset, Spyware Removal, RAM Upgrades, Software Installation, Tune-ups,
        Keyboard Cleaning, and Disk Cleanup.
      </p>
    </h3>
  </mat-card-content>
</mat-card>
