<div class="wrapper">
  <div class="page-header error-page header-filter">
    <div class="page-header-image" style="background-image: url('assets/img/braden-collum.jpg');"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title">404</h1>
          <h2 class="description">Page not found :(</h2>
          <h4 class="description">Ooooups! Looks like you got lost.</h4>
          <a routerLink="/" class="btn btn-primary btn-lg">Return Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
