<div class="wrapper">
  <div class="page-header">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="page-header-image"></div>
    <div class="container">
      <div class="col-lg-10 col-md-12 mx-auto">
        <div class="card card-login">
          <div class="card-header">
            <img alt="Forgot password card image" class="card-img" src="assets/img/shape.png" />
            <h4 class="card-title">Reset<br />Password</h4>
          </div>
          <div class="card-body">
            <tabset class="nav-tabs-danger">
              <tab>
                <!-- Username -->
                <ng-template tabHeading> <i class="tim-icons icon-badge"> </i> Step 1 </ng-template>
                <form [formGroup]="usernameFormGroup" *ngIf="usernameFormGroup">
                  <!-- Username first row -->
                  <div class="row">
                    <div class="col-md-12 mb-3">
                      <label for="username" class="labels"> Username <span class="text-danger"> * </span> </label>
                      <input
                        aria-label="Username..."
                        class="form-control"
                        name="username"
                        formControlName="username"
                        #username
                        required
                        type="text"
                      />
                    </div>
                  </div>
                </form>
              </tab>
              <tab>
                <!-- Security Questions -->
                <ng-template tabHeading>
                  <div (click)="onCheckUsername(usernameFormGroup)" [class.spinner]="loading">
                    <i class="tim-icons icon-lock-circle"></i>
                    Step 2
                  </div>
                </ng-template>
                <form [formGroup]="questionsFormGroup" *ngIf="questionsFormGroup">
                  <!-- Security Questions first row -->
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="question1" class="labels">
                        Security Question #1
                      </label>
                      <input class="form-control" name="question1" formControlName="question1" readonly />
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="answer1" class="labels">
                        Security Answer #1 <span class="text-danger"> * </span>
                      </label>
                      <input
                        aria-label="Please answer your first security question"
                        class="form-control"
                        name="answer1"
                        formControlName="answer1"
                        #answer1
                        placeholder="Please answer your first security question"
                        required
                        type="text"
                      />
                    </div>
                  </div>
                  <!-- Security Questions second row -->
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="question2" class="labels">
                        Security Question #2
                      </label>
                      <input class="form-control" name="question2" formControlName="question2" readonly />
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="answer2" class="labels">
                        Security Answer #2 <span class="text-danger"> * </span>
                      </label>
                      <input
                        aria-label="Please answer your second security question"
                        class="form-control"
                        name="answer2"
                        formControlName="answer2"
                        #answer2
                        placeholder="Please answer your second security question"
                        required
                        type="text"
                      />
                    </div>
                  </div>
                  <!-- Security Questions thrid row -->
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="question3" class="labels">
                        Security Question #3
                      </label>
                      <input class="form-control" name="question3" formControlName="question3" readonly />
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="answer3" class="labels">
                        Security Answer #3 <span class="text-danger"> * </span>
                      </label>
                      <input
                        aria-label="Please answer your thrid security question"
                        class="form-control"
                        name="answer3"
                        formControlName="answer3"
                        #answer1
                        placeholder="Please answer your thrid security question"
                        required
                        type="text"
                      />
                    </div>
                  </div>
                </form>
              </tab>
              <tab>
                <!-- New Password -->
                <ng-template tabHeading>
                  <div (click)="onCheckSecurityAnswers(questionsFormGroup)" [class.spinner]="loading">
                    <i class="tim-icons icon-key-25"> </i> Step 3
                  </div>
                </ng-template>
                <form [formGroup]="passwordFormGroup" *ngIf="passwordFormGroup">
                  <div class="row">
                    <div class="col-md-12 mb-3">
                      <label for="password" class="labels"> New Password <span class="tex-danger"> * </span> </label>
                      <div class="input-group">
                        <input
                          aria-label="Enter New Password"
                          class="form-control"
                          name="password"
                          placeholder="Enter New Password"
                          formControlName="password"
                          required
                          #password
                          [type]="hide ? 'text' : 'password'"
                          type="password"
                        />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i (click)="hide = !hide" class="tim-icons icon-lock-circle"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mb-3">
                      <button
                        class="btn btn-primary btn-round btn-lg"
                        (click)="onChangePassword()"
                        [class.spinner]="loading"
                        [disabled]="loading || passwordFormGroup.get('password').errors"
                      >
                        Submit <i class="tim-icons icon-send"> </i>
                      </button>
                    </div>
                  </div>
                </form>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
