<mat-card>
  <mat-card-header class="mat-card-header card__header card__header">
    <h2 class="card__header-title" style="margin-top: 10px;">Change Password</h2>
  </mat-card-header>
  <mat-card-content class="mat-card-content card__content card__content" style="padding: 16px;">
    <mat-vertical-stepper #stepper>
      <mat-step [stepControl]="usernameFormGroup">
        <form [formGroup]="usernameFormGroup" *ngIf="usernameFormGroup">
          <ng-template matStepLabel>Verify username</ng-template>
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="username" required #username />
          </mat-form-field>
          <mat-error class="mat-small" *ngIf="!usernameExists && usernameFormGroup.errors"
            >Username does not exist
          </mat-error>
          <div>
            <button
              type="submit"
              mat-raised-button
              (click)="onCheckUsername(stepper)"
              [class.spinner]="loading"
              [disabled]="loading"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="questionsFormGroup">
        <form
          [formGroup]="questionsFormGroup"
          *ngIf="questionsFormGroup"
          [hidden]="!usernameExists && sqList !== null"
          [disabled]="usernameExists && !usernameFormGroup.errors"
        >
          <ng-template matStepLabel>Answer Security Questions</ng-template>
          <input matInput readonly formControlName="question1" />
          <mat-form-field>
            <mat-label>Security answer 1</mat-label>
            <input matInput placeholder="Answer" formControlName="answer1" required />
          </mat-form-field>
          <input matInput readonly formControlName="question2" />
          <mat-form-field>
            <mat-label>Security answer 2</mat-label>
            <input matInput placeholder="Answer" formControlName="answer2" required />
          </mat-form-field>
          <input matInput readonly formControlName="question3" />
          <mat-form-field>
            <mat-label>Security answer 3</mat-label>
            <input matInput placeholder="Answer" formControlName="answer3" required />
          </mat-form-field>
          <mat-error class="mat-small" *ngIf="!securityQuestionsCorrect && questionsFormGroup.errors"
            >Incorrect Answers. If you are having trouble logging in please contact us.</mat-error
          >
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button
              type="submit"
              mat-raised-button
              (click)="onCheckSecurityAnswers(stepper)"
              [class.spinner]="loading"
              [disabled]="loading"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="passwordFormGroup">
        <form
          [formGroup]="passwordFormGroup"
          *ngIf="passwordFormGroup"
          [hidden]="!usernameExists || sqList === null || !securityQuestionsCorrect"
        >
          <ng-template matStepLabel>Enter Password</ng-template>
          <mat-form-field>
            <mat-label>New Password</mat-label>
            <input
              matInput
              formControlName="password"
              placeholder="New Password"
              required
              [type]="hide ? 'text' : 'password'"
              #password
            />
            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button
              mat-button
              (click)="onChangePassword()"
              [class.spinner]="loading"
              [disabled]="loading || passwordFormGroup.get('password').errors"
            >
              Submit
            </button>
          </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
  <mat-card-actions class="mat-card-actions card__footer card__footer"> </mat-card-actions>
</mat-card>
