/* Read up on css-grid if you want to understand some of the weird css going on here */
/* https://css-tricks.com/snippets/css/complete-guide-grid/ */
.question-panel {
  margin: 15px 0;
  padding:15px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  display:grid;
  grid-template-columns: 10fr 1fr 1fr;
  column-gap: 5px;
  grid-template-areas:
  "header header header header"
   "question . edit delete";
}
.q-header {
  grid-area: header;
}
.q-question {
  grid-area: question;
}
.q-edit {
  grid-area: edit;
}
.q-delete {
  grid-area: delete;
}


