<div class="wrapper">
  <div class="page-header">
    <img src="assets/img/path3.png" alt="Path 3" class="path path3" />

    <svg class="hidden">
      <defs>
        <path
          d="M292,517.91s-15.55-56.18-82.16-38.13C144.29,497.54,155.58,363.16,162,313.12S224.89,15.59,387.71,4.49,515.3,133.38,499.28,174.22s-48.71,85.09,11,218.26S455,582.74,430.06,588.37,339.71,621.12,292,517.91Z"
          id="deco2"
        ></path>
      </defs>
    </svg>
    <div class="content-center">
      <div class="container">
        <div class="row align-items-center text-left">
          <!-- Left side of screen -->
          <div class="col-lg-6 col-md-8 col-12 ml-auto mr-auto">
            <h1 class="title">
              Bob's Computer<br />
              <strong class="text-secondary">Repair Shop</strong>
            </h1>
            <p class="description">
              Bob's Computer Repair Shop was founded in 1997. He started off with simple PC home repair as side hobby.
              In 2002, after 5 years in service, Bob decided to expand his hobby and start his own business. He started
              off in what was an old laundry mat. He gutted the insides and renovated. His priority was to make a place
              where people would feel comfortable dropping off their PCs and Mac to be serviced.
            </p>
          </div>
          <!-- Right side of screen -->
          <div class="col-lg-6 col-md-8 col-12 ml-auto mr-auto">
            <!-- SVG illustration   -->
            <figure class="ie-non-standard-hero-shape">
              <svg
                x="0px"
                y="0px"
                viewBox="10 12 878.9 907"
                style="enable-background: new 10 12 878.9 907;"
                xml:space="preserve"
                class="injected-svg js-svg-injector"
                data-img-paths='[ {"targetId": "#imageShape1", "newPath": "assets/img/about-top.jpeg"},
                          {"targetId": "#imageShape2", "newPath": "assets/img/about-top.jpeg"}]'
                data-parent="#SVGNonStandardHeroShape"
              >
                <g>
                  <defs>
                    <path
                      id="firstShape"
                      d="M299.27,772.72s-24.67-76.08-131.42-51.33C62.82,745.74,81.48,563.56,92,495.71S193.94,92.18,454.77,76.46,658.58,250.62,632.75,306s-78.37,115.53,16.76,295.77-89.33,258.1-129.36,265.84S375.3,912.41,299.27,772.72Z"
                    ></path>
                  </defs>
                  <clipPath id="secondShape">
                    <use xlink:href="#firstShape" style="overflow: visible;"></use>
                  </clipPath>
                  <g clip-path="url(#secondShape)">
                    <image
                      id="imageShape1"
                      style="overflow: visible;"
                      width="1000"
                      height="1000"
                      xlink:href="assets/img/about-top.jpeg"
                      transform="matrix(0.9488 0 0 0.9488 25 53.1187)"
                    ></image>
                  </g>
                </g>
                <g>
                  <defs>
                    <path
                      id="thirdShape"
                      d="M741.49,643q-2.58-.31-5.17-.4c-12-.45-46.58-14.37-79.24-71.85-17.81-31.35-47.32-96.41-37.88-167.21,7.84-58.79,38.38-97.1,48.34-130.64,24.82-83.61,66.62-77.07,98-77.07,15.93,0,31.1,14.82,39.21,26.39,11.55,16.48,19.72,46.24-9.1,93.32-60.66,99.07,14.09,139.33-.93,239.68C781.72,641.8,750,644,741.49,643Z"
                    ></path>
                  </defs>
                  <clipPath id="fourthShape">
                    <use xlink:href="#thirdShape" style="overflow: visible;"></use>
                  </clipPath>
                  <g transform="matrix(1 0 0 1 0 0)" clip-path="url(#fourthShape)">
                    <image
                      id="imageShape2"
                      style="overflow: visible;"
                      width="1000"
                      height="1000"
                      xlink:href="assets/img/about-top.jpeg"
                      transform="matrix(0.9488 0 0 0.9488 25 53.1187)"
                    ></image>
                  </g>
                </g>
              </svg>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About description -->
  <div class="section about-description">
    <img src="assets/img/path4.png" alt="Background path" class="path path4" />
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Growing along side technology</h2>
          <h4 class="description">
            Initially, Bob did simple repairs, memory expansion, and operating system installs. As technology
            progressed, so did he. He learned all he could about hardware and software repair as well as malware and
            anti-virus protection.
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <img alt="Description image" class="d-block" src="assets/img/about-description.jpeg" />
        </div>
      </div>
    </div>
  </div>
  <!-- About team -->
  <div class="section">
    <div class="team-1">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Bob's Awesome Team</h2>
            <h4 class="description">
              As Bob's business grew, he quickly realized that it was no longer a one-person operation. The team at
              Bob's Computer Repair Shop includes talented individuals from every spectrum of the IT industry.
            </h4>
          </div>
        </div>
        <!-- Team carousel -->
        <div class="row">
          <carousel [showIndicators]="false" class="carousel-team">
            <!-- Kurt slide -->
            <slide>
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <h1 class="title">Kurt Leadley</h1>
                  </div>
                  <div class="col-md-4">
                    <img alt="First slide" class="d-block" src="assets/img/about-team/kleadley.jpg" />
                  </div>
                  <div class="col-md-4">
                    <div class="wrapper">
                      <div class="category">
                        <strong>Position: </strong>Operations Manager<br />
                        <strong>Experience:</strong> 10 years
                      </div>
                      <div class="description">
                        An IT operations manager oversees and directs the day-to-day activities of an oraganization's
                        information technology (IT) deparment, ensuring that systems, services, and infrastructure work
                        reliably and securely.
                      </div>
                      <div class="footer">
                        <a
                          target="_blank"
                          href="https://github.com/KurtLeadley/bcrs"
                          class="btn btn-icon btn-github btn-round"
                        >
                          <i class="fab fa-github"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </slide>
            <!-- Loren slide -->
            <slide>
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <h1 class="title">Loren Wetzel</h1>
                  </div>
                  <div class="col-md-4">
                    <img alt="First slide" class="d-block" src="assets/img/about-team/lwetzel.png" />
                  </div>
                  <div class="col-md-4">
                    <div class="wrapper">
                      <div class="category">
                        <strong>Position: </strong>Service Delivery Manager<br />
                        <strong>Experience:</strong> 3 years
                      </div>
                      <div class="description">
                        IT service delivery managers research and implement best practices in help desk and IT support.
                        They also ensure policies and procedures are followed. By managing and facilitating meetings, IT
                        service delivery managers ensure that teams are improving performance, service, and product
                        quality.
                      </div>
                      <div class="footer">
                        <a
                          target="_blank"
                          href="https://github.com/KurtLeadley/bcrs"
                          class="btn btn-icon btn-github btn-round"
                        >
                          <i class="fab fa-github"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </slide>
            <!-- Alsaddig slide -->
            <slide>
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <h1 class="title">Kurt Leadley</h1>
                  </div>
                  <div class="col-md-4">
                    <img alt="First slide" class="d-block" src="assets/img/about-team/aibrahim.jpg" />
                  </div>
                  <div class="col-md-4">
                    <div class="wrapper">
                      <div class="category">
                        <strong>Position: </strong>Sales Manager<br />
                        <strong>Experience:</strong> 15 years
                      </div>
                      <div class="description">
                        Sales managers lead a sales team by providing quidance, training and mentorship, setting sales
                        quotas and goals, creating sales plans, analyzing data, assigning sales territories and building
                        their team.
                      </div>
                      <div class="footer">
                        <a
                          target="_blank"
                          href="https://github.com/KurtLeadley/bcrs"
                          class="btn btn-icon btn-github btn-round"
                        >
                          <i class="fab fa-github"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </slide>
            <!-- Nathaniel slide -->
            <slide>
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <h1 class="title">Kurt Leadley</h1>
                  </div>
                  <div class="col-md-4">
                    <img alt="First slide" class="d-block" src="assets/img/about-team/nliebhart.png" />
                  </div>
                  <div class="col-md-4">
                    <div class="wrapper">
                      <div class="category">
                        <strong>Position: </strong>Network Engineer<br />
                        <strong>Experience:</strong> 8 years
                      </div>
                      <div class="description">
                        Network engineers are the technical experts responsible for setting up computer networks,
                        maintaining them, and offering technical support to users where necessary. On the hardware side
                        of things, they perform hands-on installation and maintenance tasks on network components such
                        as routers, switches, and network media.
                      </div>
                      <div class="footer">
                        <a
                          href="https://github.com/KurtLeadley/bcrs"
                          target="_blank"
                          class="btn btn-icon btn-github btn-round"
                        >
                          <i class="fab fa-github"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>
</div>
