<div class="wrapper">
  <div class="page-header">
    <img src="assets/img/blob.png" alt="Blob image" class="path" />
    <img src="assets/img/path2.png" alt="Path 2 image" class="path2" />
    <img src="assets/img/triunghiuri.png" alt="triangle shape" class="shapes triangle" />
    <img src="assets/img/waves.png" alt="Wave image" class="shapes wave" />
    <img src="assets/img/patrat.png" alt="Square image" class="shapes squares" />
    <img src="assets/img/cercuri.png" alt="Circle image" class="shapes circle" />
    <div class="container">
      <div class="row row-grid justify-content-between align-items-center text-left">
        <div class="col-md-6" style="margin-left: auto; margin-right: auto;">
          <div id="loginCard" class="card card-login card-plain">
            <form class="form" [formGroup]="loginForm" (submit)="onLogin()">
              <div class="card-body">
                <div class="card-image mb-5">
                  <img src="assets/img/bcrs-logo.png" alt="Company Logo" />
                </div>

                <div
                  class="input-group form-group-no-border input-lg"
                  [ngClass]="{ 'input-group-focus': focus === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="tim-icons icon-single-02"></i></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Username..."
                    formControlName="username"
                    required
                    (focus)="focus = true"
                    (blur)="focus = false"
                  />
                </div>
                <div
                  class="input-group form-group-no-border input-lg"
                  [ngClass]="{ 'input-group-focus': focus1 === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="tim-icons icon-lock-circle"></i></span>
                  </div>
                  <input
                    type="password"
                    placeholder="Password..."
                    class="form-control"
                    formControlName="password"
                    required
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                  />
                </div>
              </div>
              <div class="card-footer text-center">
                <button
                  id="btnLogin"
                  type="submit"
                  [class.spinner]="loading"
                  [disabled]="loading"
                  class="btn btn-primary btn-round btn-lg btn-block"
                >
                  Login
                </button>
                <div class="pull-left">
                  <h6>
                    <a routerLink="/register" class="link footer-link">Create Account</a>
                  </h6>
                </div>
                <div class="pull-right">
                  <h6>
                    <a routerLink="/forgot-password" class="link footer-link">Forgot Password</a>
                  </h6>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="page-header" filter-color="blue">
  <div
    class="page-header-image"
    style="background-image: url(assets/img/login-background.png); background-size: cover;"
  ></div>
  <div class="content-center">
    <div class="container">
      <div class="col-md-4 content-center">
        <div id="loginCard" class="card card-login card-plain">
          <form class="form" [formGroup]="loginForm" (submit)="onLogin()">
            <div class="card-header text-center">
              <div class="card-image">
                <img class="img img-raised rounded" src="assets/img/bcrs-logo.png" alt="Company Logo" />
              </div>
            </div>
            <div class="card-body">
              <div
                class="input-group form-group-no-border input-lg"
                [ngClass]="{ 'input-group-focus': focus === true }"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Username..."
                  formControlName="username"
                  required
                  (focus)="focus = true"
                  (blur)="focus = false"
                />
              </div>
              <div
                class="input-group form-group-no-border input-lg"
                [ngClass]="{ 'input-group-focus': focus1 === true }"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="now-ui-icons ui-1_lock-circle-open"></i></span>
                </div>
                <input
                  type="password"
                  placeholder="Password..."
                  class="form-control"
                  formControlName="password"
                  required
                  (focus)="focus1 = true"
                  (blur)="focus1 = false"
                />
              </div>
            </div>
            <div class="card-footer text-center">
              <button
                id="btnLogin"
                type="submit"
                [class.spinner]="loading"
                [disabled]="loading"
                class="btn btn-primary btn-round btn-lg btn-block"
              >
                Login
              </button>
              <div class="pull-left">
                <h6>
                  <a routerLink="/register" class="link footer-link">Create Account</a>
                </h6>
              </div>
              <div class="pull-right">
                <h6>
                  <a routerLink="/forgot-password" class="link footer-link">Forgot Password</a>
                </h6>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
