#loginCard {
  background-color: rgba(212, 13, 13, 0.4);
  padding: 10px;
  margin: auto;
  border-radius: 5%;
  input {
    height: 46px;
  }
  #btnLogin {
    background-color: #002a86;
    border: none;
  }
}
