<mat-card>
  <mat-card-title>
    Create new user
  </mat-card-title>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label>
      Email:
      <input type="text" formControlName="email" required />
    </label>
    <label>
     Password:
      <input type="password" formControlName="password" required />
    </label>
    <label>
      First Name:
      <input type="text" formControlName="firstname" required />
    </label>
    <label>
     Last Name:
      <input type="text" formControlName="lastname" required />
    </label>
    <label>
      Address:
      <input type="text" formControlName="address" required />
    </label>
    <button class="submit-button" mat-raised-button type="submit">Create User</button>
  </form>
</mat-card>
