<mat-card>
  <h2>Register</h2>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <mat-vertical-stepper [linear]="isLinear" #stepper *ngIf="!loading">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" *ngIf="firstFormGroup">
        <ng-template matStepLabel>Add Personal Information</ng-template>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username" required #username />
        </mat-form-field>
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First name" formControlName="firstname" required #firstname />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastname" placeholder="Last Name" required #lastname />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" placeholder="Email" required #email />
          <mat-error *ngIf="firstFormGroup.get('email').touched && firstFormGroup.get('email').hasError('email')">
            Email invalid.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Street</mat-label>
          <input matInput formControlName="street" placeholder="Street address" #street />
        </mat-form-field>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput formControlName="city" placeholder="City" #city />
        </mat-form-field>
        <mat-form-field>
          <mat-label>State</mat-label>
          <input matInput formControlName="state" placeholder="State" #state />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Zip Code</mat-label>
          <input matInput formControlName="zipCode" placeholder="Zip Code" #zipCode />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <span matPrefix>+1 &nbsp;</span>
          <input matInput type="tel" formControlName="phoneNumber" placeholder="Phone Number" required #phoneNumber />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext [disabled]="!firstFormGroup.valid">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" *ngIf="secondFormGroup">
        <ng-template matStepLabel>Add Security Questions</ng-template>
        <mat-form-field>
          <mat-label>Select 1st security question</mat-label>
          <mat-select placeholder="Select your option" formControlName="question1" required>
            <mat-option *ngFor="let sq of sqList" [value]="sq._id" [disabled]="sq.disabled || sq.tempDisabled">
              {{ sq.text }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Security answer 1</mat-label>
          <input matInput placeholder="Answer" formControlName="answer1" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select 2nd security question</mat-label>
          <mat-select placeholder="Select your option" formControlName="question2" required>
            <mat-option *ngFor="let sq of sqList" [value]="sq._id" [disabled]="sq.disabled || sq.tempDisabled">
              {{ sq.text }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Security answer 2</mat-label>
          <input matInput placeholder="Answer" formControlName="answer2" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select 3rd security question</mat-label>
          <mat-select placeholder="Select your option" formControlName="question3" required>
            <mat-option *ngFor="let sq of sqList" [value]="sq._id" [disabled]="sq.disabled || sq.tempDisabled">
              {{ sq.text }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Security answer 3</mat-label>
          <input matInput placeholder="Answer" formControlName="answer3" required />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext [disabled]="!secondFormGroup.valid">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup" *ngIf="thirdFormGroup">
        <ng-template matStepLabel>Enter Password</ng-template>
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input
            matInput
            formControlName="password"
            placeholder="New Password"
            required
            [type]="hide ? 'text' : 'password'"
            #password
          />
          <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext [disabled]="!thirdFormGroup.valid">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Submit</ng-template>
      <p>Click submit to finalize changes.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="onSubmit()" [class.spinner]="loading" [disabled]="loading">Submit</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</mat-card>
