<div class="wrapper">
  <div class="content">
    <div class="row">
      <div class="col-12">
        <div class="card card-header">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class="text-danger">Service Purchase Graphs</h1>
            </div>
          </div>
          <div id="graph_card" class="card mb-5 pb-5">
            <div class="card-header mr-auto ml-auto">
              <tabset class="nav-tabs-danger">
                <tab>
                  <ng-template tabHeading> <i class="tim-icons icon-atom"></i> Polar Area </ng-template>
                  <div *ngIf="polarArea">
                    <p-chart type="polarArea" [data]="polarArea" height="80vh"></p-chart>
                  </div>
                </tab>
                <tab>
                  <ng-template tabHeading> <i class="tim-icons icon-support-17"></i> Doughnut </ng-template>
                  <div *ngIf="doughnut">
                    <p-chart type="doughnut" [data]="doughnut" height="80vh"></p-chart>
                  </div>
                </tab>
                <tab>
                  <ng-template tabHeading> <i class="tim-icons icon-chart-bar-32"></i> Bar Chart </ng-template>
                  <div *ngIf="barChart">
                    <p-chart type="bar" [data]="barChart" height="80vh"></p-chart>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
