<div class="wrapper">
  <div class="page-header">
    <img src="assets/img/blob.png" alt="Blob image" class="path" />
    <img src="assets/img/path2.png" alt="Path 2 image" class="path2" />
    <img src="assets/img/triunghiuri.png" alt="triangle shape" class="shapes triangle" />
    <img src="assets/img/waves.png" alt="Wave image" class="shapes wave" />
    <img src="assets/img/patrat.png" alt="Square image" class="shapes squares" />
    <img src="assets/img/cercuri.png" alt="Circle image" class="shapes circle" />
    <div class="container">
      <div class="row row-grid justify-content-between align-items-center text-left">
        <div class="col-lg-6 col-md-6">
          <h1 class="text-white">
            Bob's Computer Repair Shop
          </h1>
          <p class="text-white mb-3">
            Where you can leave you worries at the door.<br />
            We will take care of all of your<br />
            hardware, software and networking needs.<br />
            Big or small, we can handle them all.
          </p>
          <div class="btn-wrapper mb-3">
            <button class="btn btn-primary btn-round btn-block" routerLink="/register">
              <i class="tim-icons icon-paper"></i> Register
            </button>
            <button class="btn btn-info btn-round btn-block" routerLink="/login">
              <i class="tim-icons icon-key-25"></i> Login
            </button>
          </div>
        </div>
        <div class="col-lg-4 col-md-5">
          <img alt="3D logo" class="img-fluid" src="assets/img/bcrs-3D-logo.png" />
        </div>
      </div>
    </div>
  </div>
</div>
