<div class="page-header header-filter">
  <div class="page-header-image" style="background-image: url('assets/img/bcrs-logo.png');"></div>
  <div class="content-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title">Bob's Computer Repair Shop</h1>
          <h5 class="description" style="color: white; font-weight: 500;">
            Where you can leave you worries at the door.<br />
            We will take care of all of your<br />
            hardware, software and networking needs.<br />
            Big or small, we can handle them all.
          </h5>
        </div>
        <div class="col-md-10 ml-auto mr-auto">
          <div class="card card-raised card-plain card-form-horizontal" data-background-color>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <button class="btn btn-primary btn-round btn-block" routerLink="/register">Register</button>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-info btn-round btn-block" routerLink="/login">Login</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
