<div [class.hidden]="!show">
  <div class="loader-overlay">
    <div *ngIf="show" class="loader"></div>
  </div>
</div>
<div class="cd-section" id="headers">
  <div class="header-2">
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="300" id="navbar-top">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" routerLink="/" placement="bottom" tooltip="Give us a call today 1 (555) 555-5555">
            <span><img src="../../../assets/img/bcrs-logo.png" alt="BCRS logo" /><br />Bob's Computer Repair Shop</span>
          </a>
          <button
            aria-controls="navigation"
            aria-label="Toggle navigation"
            class="navbar-toggler"
            [attr.aria.expand]="!isCollapsed"
            (click)="isCollapsed = !isCollapsed"
            id="navigation"
            type="button"
          >
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <!-- !isAuthenticated -->
        <div *ngIf="!userIsAuthenticated" class="navbar-collapse" [collapse]="isCollapsed" id="noAuthNavbar">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a> BCRS <span> Bob's Computer Repair Shop </span> </a>
              </div>
              <div class="col-6 collapse-close text-right">
                <button
                  aria-controls="navigation"
                  aria-label="Toggle navigation"
                  class="navbar-toggler"
                  [attr.aria-expanded]="!isCollapsed"
                  (click)="isCollapsed = !isCollapsed"
                  id="noAuthNavbar"
                  type="button"
                >
                  <i class="tim-icons icon-simple-remove"></i>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/" class="nav-link"> <i class="tim-icons icon-paper"> </i> Home </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/about" class="nav-link"> <i class="tim-icons icon-bulb-63"> </i> About Us </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/contact-us" class="nav-link"> <i class="tim-icons icon-square-pin"> </i> Contact Us </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/features" class="nav-link"> <i class="tim-icons icon-settings"> </i> Services </a>
            </li>
          </ul>
        </div>
        <!-- isAuthenticated & !isAdmin -->
        <div
          *ngIf="userIsAuthenticated && role != 'admin'"
          class="navbar-collapse"
          [collapse]="isCollapsed"
          id="noAuthNavbar"
        >
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a> BCRS <span> Bob's Computer Repair Shop </span> </a>
              </div>
              <div class="col-6 collapse-close text-right">
                <button
                  aria-controls="navigation"
                  aria-label="Toggle navigation"
                  class="navbar-toggler"
                  [attr.aria-expanded]="!isCollapsed"
                  (click)="isCollapsed = !isCollapsed"
                  id="noAuthNavbar"
                  type="button"
                >
                  <i class="tim-icons icon-simple-remove"></i>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/" class="nav-link"> <i class="tim-icons icon-paper"> </i> Home </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/about" class="nav-link"> <i class="tim-icons icon-bulb-63"> </i> About Us </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/contact-us" class="nav-link"> <i class="tim-icons icon-square-pin"> </i> Contact Us </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/features" class="nav-link"> <i class="tim-icons icon-settings"> </i> Services </a>
            </li>
            <li class="nav-item">
              <button class="nav-link btn btn-sm btn-danger btn-sm" (click)="onLogout()">
                <i class="tim-icons icon-button-power"> </i> Logout
              </button>
            </li>
          </ul>
        </div>
        <!-- isAuthenticated & isAdmin -->
        <div
          *ngIf="userIsAuthenticated && role == 'admin'"
          class="navbar-collapse"
          [collapse]="isCollapsed"
          id="noAuthNavbar"
        >
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a> BCRS <span> Bob's Computer Repair Shop </span> </a>
              </div>
              <div class="col-6 collapse-close text-right">
                <button
                  aria-controls="navigation"
                  aria-label="Toggle navigation"
                  class="navbar-toggler"
                  [attr.aria-expanded]="!isCollapsed"
                  (click)="isCollapsed = !isCollapsed"
                  id="noAuthNavbar"
                  type="button"
                >
                  <i class="tim-icons icon-simple-remove"></i>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/" class="nav-link"> <i class="tim-icons icon-paper"> </i> Home </a>
            </li>
            <li class="dropdown nav-item" dropdown>
              <a
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                dropdownToggle
                id="adminConfigDropdownMenuLink"
              >
                <i aria-hidden="true" class="tim-icons icon-badge"> </i> Admin Config
              </a>
              <div
                aria-labelledby="adminConfigDropdownMenuLink"
                class="dropdown-menu dropdown-menu-right dropdown-primary"
                *dropdownMenu
              >
                <a class="dropdown-item" routerLink="/admin/purchases">
                  <i class="tim-icons icon-money-coins"> </i> Purchases
                </a>
                <a class="dropdown-item" routerLink="/admin/roles"> <i class="tim-icons icon-key-25"> </i> Roles </a>
                <a class="dropdown-item" routerLink="/admin/security-questions">
                  <i class="tim-icons icon-lock-circle"> </i> Security Questions
                </a>
                <a class="dropdown-item" href="#"> <i class="tim-icons icon-tag"> </i> Services </a>
                <a class="dropdown-item" routerLink="/admin/users"> <i class="tim-icons icon-single-02"> </i> Users </a>
              </div>
            </li>
            <li class="nav-item dropdown" dropdown>
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" dropdownToggle id="adminDropdownMenuLink">
                <i class="tim-icons icon-atom"> </i> Admin Services
              </a>
              <div
                aria-labelledby="adminDropdownMenuLink"
                class="dropdown-menu dropdown-menu-right dropdown-primary"
                *dropdownMenu
              >
                <a class="dropdown-item" href="#"> <i class="tim-icons icon-molecule-40"> </i> Profile </a>
                <a class="dropdown-item" routerLink="/admin/invoices">
                  <i class="tim-icons icon-single-copy-04"> </i> Invoices
                </a>
                <a class="dropdown-item" href="#"> <i class="tim-icons icon-settings"> </i> Service Repair </a>
              </div>
            </li>
            <li class="nav-item">
              <button class="nav-link btn btn-sm btn-danger btn-sm" (click)="onLogout()">
                <i class="tim-icons icon-button-power"> </i> Logout
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
