<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <span>
          <img class="img-fluid" src="../../../assets/img/bcrs-logo.png" alt="BCRS logo" />
          <br />
          <h1 class="title">Bob's Computer Repair Shop</h1>
        </span>
      </div>
      <div class="col-md-3 col-6">
        <ul class="nav">
          <li class="nav-item">
            <a routerLink="/" class="nav-link"> Home </a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a routerLink="/contact-us" class="nav-link">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-6">
        <ul class="nav">
          <li class="nav-item">
            <a routerLink="/features" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a routerLink="/register" class="nav-link">Register</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="title">Follow Us:</h3>
        <div class="btn-wrapper profile text-left">
          <a href="https://twitter.com" class="btn btn-icon btn-neutral btn-round btn-simple mr-1" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://facebook.com" class="btn btn-icon btn-neutral btn-round btn-simple mr-1" target="_blank">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="https://github.com" class="btn btn-icon btn-neutral btn-round btn-simple" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
